nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* coloca os itens lado a lado*/
    justify-content: center;
    background-color: #353942;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #9B989D;
}

/* Efeito hover */
nav ul li a:hover {
    /*background-color: #555;*/
    color: #c0c5cb;
}

/* Item ativo */
nav ul li a.active {
    background-color: #ffd700;
    color: #333;
    font-weight: bold;
}

/* Container que joga o menu para a extrema direita */
.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; /* Remove bolinhas da lista, caso existam */
    margin: 0;
    padding: 0;
}

